html{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Archivo';
    margin: 0;
    
}

.centerpage{
    max-width: 1000px;
    margin: auto;  
}

.headerimg{
    max-width: 100%;
    max-height: 470px;
    min-height: 470px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 77px;
    z-index: -1;
   
}

.ulheader{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222931;
    max-width: 950px;
    margin: auto;
    z-index: 1;
    margin-top: 30px;
    font-weight: 600;
}

.ulheader li{
    float: left;
}

.ulheader li a{
    display: block;
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 12px;
    transition-duration: 0.4s;
}

.fa-angle-down{
    position: relative;
    font-size: 12px;
    left: 3px;
}

.ulheader li a:hover{
    background-color: #ffe718;
    color: #222931;
}

.ulheader li button:hover {
    background-color: #ffe718;
    color: #222931;
}

.navbarmarginleft{
    margin-left: 20px;
}

li.dropbtn{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 3;
}

.dropdown-content a{
    color: white;
    padding: 5px 14px;
    text-decoration: none;
    text-align: left;
    background-color: #222931;
    transition-duration: 0.4s;
    
}

.dropdown-content a:hover{
    background-color: #ffe718;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.logolocation{
    margin-left: 50px;
    position: relative;
    top: 10px;
}

.item1 { grid-area: txt; height: 500px;} 
.item2 { grid-area: img2; }
.item3 { grid-area: img3; }
.item4 { grid-area: btn1; }
.item5 { grid-area: btn2; }
.item6 { grid-area: btn3; }
.item7 { grid-area: txt1; width: 500px;}
.item8 { grid-area: ifo1; }

.grid-container {
    display: grid;
    grid-template-areas:
      'txt';
    position: relative;
    margin-top: 51%;
    overflow: hidden;
    position: relative;  
  }



  .btn-grid-container{
    display: grid;
    grid-template-areas:
      'btn1 btn2 btn3';
    margin-top: 28%;
    box-sizing: border-box;  
    
  }


  .btn-grid-container > div {
    text-align: center;
}

  .txt-grid-container{
      display: grid;
      grid-template-areas: 
        'txt1 ifo1';
    position: relative;
    top: 60px;
  }


  .ulbar{
    background-color: #777;
    padding: 15px;
    color: #222931;
    background-color: #ffe718;
    margin-top: 44px;
    max-width: 100%;
    list-style: none;
    
}

.barlargetext{
    font-size: 34px;
    margin-left: 15%;
    font-weight: 700;
    color: #222931;   
}

.barsmalltext{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 700;
    color: #222931;   
}

.barbutton{
    display: block;
    float: right;
    font-size: 12px;
    margin-right: 18%;
    padding: 12px 64px;
    background-color: white;
    text-decoration: none;
    transition: 0.4s background-color;
    font-weight: 500;
}

.barbutton:hover{
    background-color:#222931;    
    transition-delay:0s;
    color: white;
}

.footerimg{
    max-width: 100%;
    max-height: 250px;
    min-height: 250px;  
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 1355px;
    z-index: -1;
   
}

.footerbtn{
    background-color: #ffe718;
    width: 300px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: none;
    
}

.footerbtn:hover{
    transition-delay: 0s;
    color: white;
    background-color: rgba(34, 41, 49);
}

.footerbtn:hover .texthead{
    color:white
}

.footerbtn:hover .fa-envelope{
    color: white
}

.footerbtn:hover .fa-handshake{
    color: white
}

.footerbtn:hover .fa-toolbox{
    color: white
}

.footerbtn:hover .textdealsmall{
    color: white
}

.footerbtn:hover .texttoolboxsmall{
    color: white
}

.footerbtn:hover .textenvelopesmall{
    color: white
}


.footerbtnleft{
    float: left;
}

.footerbtnright{
    float: right;
}

.fa-handshake{
    font-size: 40px;
    position: relative;
    right: 60px;
    top: 10px;
    color: #222931;  
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
}


.texthead{
    font-size: 22px;
    right: 35px;
    position: relative;
    bottom: 5px;
    font-weight: 600;
    color: #222931;   
    transition-duration: 0.4s;
}

.textdealsmall{
    font-size: 14px;
    position: relative;
    left: 26px;
    bottom: 3px;
    font-weight: 600;
    color: #222931;
    transition-duration: 0.4s;
}

.fa-toolbox{
    font-size: 40px;
    position: relative;
    right: 60px;
    top: 10px;
    color: #222931;   
    transition-duration: 0.4s;
}

.texttoolboxsmall{
    font-size: 14px;
    position: relative;
    left: 15px;
    bottom: 3px;
    font-weight: 600;
    color: #222931;  
    transition-duration: 0.4s; 
}


.fa-envelope{
    font-size: 40px;
    position: relative;
    right: 60px;
    top: 10px;
    color: #222931;   
    transition-duration: 0.4s;
}

.textenvelopesmall{
    font-size: 14px;
    position: relative;
    left: 8px;
    bottom: 3px;
    font-weight: 600;
    color: #222931;  
    transition-duration: 0.4s; 
}

hr{
    position: relative;
    top: 70px;
    
}

.h1overons{
    position: relative;
    left: 0;
    color: #222931;   
    top: 50px;
    font-size: 16px;

}


.overonstext{
    position: relative;
    top: 90px;
    color: #222931;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    
    
}

.h1contact{
    position: relative;
    color: #222931;
    left: 40%;
    top: 50px;
    font-size: 16px;
}
.fa-map-marker-alt{
    font-size: 24px;
}

.pointericon{
    color: #aeb6be;
    position: relative;
    top: 90px;
    left: 40%; 
}

.pointertext{
    color: #5f656d;
    position: relative;
    top: 80px;
    left: 214px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.pointertextpostcode{
    color: #5f656d;
    position: relative;
    top: 77px;
    left: 236px;    
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.fa-mobile-alt{
    font-size: 24px;
}

.phoneicon{
    color: #aeb6be;
    position: relative;
    top: 135px;
    left: 53px;
}

.phonetext{
    color: #5f656d;
    position: relative;
    top: 131px;
    left: 77px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

.fa-envelope-open{
    font-size: 24px;
}

.mailicon{
    color: #aeb6be;
    position: relative;
    top: 190px;
    right: 80px;
}

.mailtext{
    color: #5f656d;
    position: relative;
    top: 190px;
    right: 65px; 
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

footer{
    width: 100%;
    height: 60px;
    background-color: #222931;
    position: relative;
    top: 180px;
}

.footertext{
    position: relative;
    top: 20px;
    float: right;
    right: 10%;
    color: white;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
}

.h1diensten{
    position: relative;
    right: 94px;
    top: 50px;
    font-size: 32px;
    font-weight: 600;
    color: #222931;
    float: left;
}

.dienstentext{
    position: relative;
    top: 80px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #222931;
    float: left;
}

.dienstentext2{
    position: relative;
    top: 100px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #222931;
    float: left;
}

.breadcrumb{
    float: left;
    font-size: 12px;
    font-weight: 400;
    color: #5f656d;
}

.breadcrumb a{
    text-decoration: none;
    color: #5f656d;
}

.tooltip{
    color: #ffe718;
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #aeb6be ;
    top: 20px;
    color: #fff;
    content: attr(title);
    left: 0;
    padding: 15px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}


.tooltipoverflow{
    color: #ffe718;
    display: inline;
    position: relative;
}

.tooltipoverflow:hover:after{
    background: #aeb6be ;
    top: 20px;
    color: #fff;
    content: attr(title);
    right: 0px;
    padding: 15px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}